<div class="row">
  <div class="span12">
    <h1 class="page-header">Today's Flight Schedule</h1>

    <%= will_paginate @flights %>

    <table class="table table-hover">
      <%= render 'table_top' %>
      <%= render 'schedule' %>
    </table>
  </div>
</div>



