<div class="row">
  <div class="span12">
    <h1 class="page-header">My Profile</h1>
    <h2>Total Miles Earned: <%= @user.miles %></h2>
    <h2>Reservations</h2>
    <ul>
      <% @user.reservations.each do |reservation| %>
      <li><%= link_to "Flight ##{reservation.flight.number} #{reservation.departs_on} #{reservation.flight.departure_airport}-#{reservation.flight.arrival_airport} #{reservation.flight.departs_at.strftime("%l:%M %p")} - #{reservation.flight.arrives_at.strftime("%l:%M %p")}", reservation_url(reservation) %></li>
      <% end %>
    </ul>
  </div>
</div>
